*,
*::before,
*::after {
box-sizing: border-box;
font-family: Comic Sans MS;
font-weight: normal;
font-size: 17px;
padding: 0px;
padding-left: 15px;
color: rgb(2, 36, 33);
}

body {
  /* background-image:url('helpinghand.jpg'); */
  background: url("image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .newbody {
  background: url('https://cdn1.vectorstock.com/i/1000x1000/86/15/black-polygonal-mosaic-background-creative-design-vector-24168615.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
height: 100%;
margin: 0;
}

input[type=text] {
background-color: rgb(22, 201, 207);
border: 1px solid rgb(63, 82, 185);
}

h1big {
font-weight: bold;
color: rgb(247, 247, 247);
font-size: 80px;
font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

h1 {
font-weight: bold;
color: rgb(71, 11, 238);;
font-size: 50px;
}

h2 {
font-weight: bold;
color: #fff;
font-size: 24px;
}

.topright {
position: absolute;
top: 0px;
right: 0px;
font-size: 18px;
}

.button_block {
display: block;
width: 2;
border: none;
background-color: #00ffc800;
padding: 5px 5px;
font-size: 22px;
cursor: pointer;
text-align: center;
}

.button_block_main {
  display: block;
  width: 2;
  border: none;
  background-color: #00ffc800;
  padding: 5px 5px;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
  }

.img {
border: 2px solid #000000;
border-radius: 50px;
padding: 10%;
}

.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
color: white;
}

span {
font-weight: bolder;
color: white;
font-family: 'Maiandra GD';
font-size: 20px;
}

th, td {
padding: center;
text-align: left;
}
table {
border: 1px solid black;
border-collapse: collapse;
border: 1px solid black;

}

.center {
margin-left: auto;
margin-right: auto;
}

.bg {
/* The image used */
background-image: url("background.jfif");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.centeralign {
  color: white;
  font-family: 'Acme';
}


button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: rgb(255, 208, 0);
  border: none;
}

/*rgb(15, 214, 221)
